/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$presentation-heading-color: #2568B0;
$link-color: #c78d22;
$hover-color: lighten($link-color, 10%);
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;

/*-- scss:rules --*/

// Tweaks for callout in .smaller slides

.reveal {
    section.slide.smaller {
        div.callout-title {
            div.callout-icon-container {
                & + p {
                    display: table;
                    text-align: center;
                    strong {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .callout.callout-titled .callout-icon::before {
        margin-top: 0.5rem;
    }

    .columns {
        p {
            margin-top: 0.5em ;
        }
        .column {
            ul {
            display: initial;
            }
        }
    }
    li li {
        display: flex;
    }

    .aside.bottom-0 {
        bottom: unset;
    }

    h3 {
        margin-top: 1em;
    }
}

dl.code-annotation-container-grid {
    padding-top: 1em;
}

#html-theme .callout-note {
    background-color: $body-bg;
}

.make-smaller {
    font-size: 0.7em;
}

.hidden-element {
    visibility: hidden;
}